<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="casal">
            <h2><span jhiTranslate="lareiraAppHomoApp.casal.detail.title">Casal</span> {{ casal.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.maridoNome">Marido Nome</span></dt>
                <dd>
                    <span>{{ casal.maridoNome }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.maridoSobrenome">Marido Sobrenome</span></dt>
                <dd>
                    <span>{{ casal.maridoSobrenome }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.maridoDataNascimento">Marido Data Nascimento</span></dt>
                <dd>
                    <span>{{ casal.maridoDataNascimento }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.maridoProfissao">Marido Profissao</span></dt>
                <dd>
                    <span>{{ casal.maridoProfissao }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.maridoTelCelular">Marido Tel Celular</span></dt>
                <dd>
                    <span>{{ casal.maridoTelCelular }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.maridoEmail">Marido Email</span></dt>
                <dd>
                    <span>{{ casal.maridoEmail }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.maridoProblemaSaude">Marido Problema Saude</span></dt>
                <dd>
                    <span>{{ casal.maridoProblemaSaude }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.esposaNome">Esposa Nome</span></dt>
                <dd>
                    <span>{{ casal.esposaNome }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.esposaSobrenome">Esposa Sobrenome</span></dt>
                <dd>
                    <span>{{ casal.esposaSobrenome }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.esposaDataNascimento">Esposa Data Nascimento</span></dt>
                <dd>
                    <span>{{ casal.esposaDataNascimento }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.esposaProfissao">Esposa Profissao</span></dt>
                <dd>
                    <span>{{ casal.esposaProfissao }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.esposaTelCelular">Esposa Tel Celular</span></dt>
                <dd>
                    <span>{{ casal.esposaTelCelular }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.esposaEmail">Esposa Email</span></dt>
                <dd>
                    <span>{{ casal.esposaEmail }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.esposaProblemaSaude">Esposa Problema Saude</span></dt>
                <dd>
                    <span>{{ casal.esposaProblemaSaude }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.casalFoneFixo">Casal Fone Fixo</span></dt>
                <dd>
                    <span>{{ casal.casalFoneFixo }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.casalFoneContato">Casal Fone Contato</span></dt>
                <dd>
                    <span>{{ casal.casalFoneContato }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.casalCep">Casal Cep</span></dt>
                <dd>
                    <span>{{ casal.casalCep }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.casalNomeRua">Casal Nome Rua</span></dt>
                <dd>
                    <span>{{ casal.casalNomeRua }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.casalNumeroRua">Casal Numero Rua</span></dt>
                <dd>
                    <span>{{ casal.casalNumeroRua }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.casalBairro">Casal Bairro</span></dt>
                <dd>
                    <span>{{ casal.casalBairro }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.casalCidade">Casal Cidade</span></dt>
                <dd>
                    <span>{{ casal.casalCidade }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.casalEstado">Casal Estado</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'lareiraAppHomoApp.UF.' + casal.casalEstado }}">{{ casal.casalEstado }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.fotoCasal">Foto Casal</span></dt>
                <dd>
                    <div *ngIf="casal.fotoCasal">
                        <a (click)="openFile(casal?.fotoCasalContentType!, casal?.fotoCasal)" jhiTranslate="entity.action.open">open</a>
                        {{ casal.fotoCasalContentType }}, {{ byteSize(casal.fotoCasal) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.dataUniao">Data Uniao</span></dt>
                <dd>
                    <span>{{ casal.dataUniao }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.numeroFicha">Numero Ficha</span></dt>
                <dd>
                    <span>{{ casal.numeroFicha }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.informacoesCasal">Informacoes Casal</span></dt>
                <dd>
                    <span>{{ casal.informacoesCasal }}</span>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.tipoUniao">Tipo Uniao</span></dt>
                <dd>
                    <div *ngIf="casal.tipoUniaoId">
                        <a [routerLink]="['/tipo-uniao', casal.tipoUniaoId, 'view']">{{ casal.tipoUniaoId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.casalPadrinho">Casal Padrinho</span></dt>
                <dd>
                    <div *ngIf="casal.casalPadrinhoId">
                        <a [routerLink]="['/casal', casal.casalPadrinhoId, 'view']">{{ casal.casalPadrinhoId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="lareiraAppHomoApp.casal.idLareira">Id Lareira</span></dt>
                <dd>
                    <div *ngIf="casal.idLareiraId">
                        <a [routerLink]="['/lareira', casal.idLareiraId, 'view']">{{ casal.idLareiraId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/casal', casal.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
