<div>
    <h2 id="page-heading">
        <span jhiTranslate="lareiraAppHomoApp.casal.home.title">Casals</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-casal" [routerLink]="['/casal/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="lareiraAppHomoApp.casal.home.createLabel">
            Create a new Casal
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="casals?.length === 0">
        <span jhiTranslate="lareiraAppHomoApp.casal.home.notFound">No casals found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="casals?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maridoNome"><span jhiTranslate="lareiraAppHomoApp.casal.maridoNome">Marido Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maridoSobrenome"><span jhiTranslate="lareiraAppHomoApp.casal.maridoSobrenome">Marido Sobrenome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maridoDataNascimento"><span jhiTranslate="lareiraAppHomoApp.casal.maridoDataNascimento">Marido Data Nascimento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maridoProfissao"><span jhiTranslate="lareiraAppHomoApp.casal.maridoProfissao">Marido Profissao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maridoTelCelular"><span jhiTranslate="lareiraAppHomoApp.casal.maridoTelCelular">Marido Tel Celular</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maridoEmail"><span jhiTranslate="lareiraAppHomoApp.casal.maridoEmail">Marido Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maridoProblemaSaude"><span jhiTranslate="lareiraAppHomoApp.casal.maridoProblemaSaude">Marido Problema Saude</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="esposaNome"><span jhiTranslate="lareiraAppHomoApp.casal.esposaNome">Esposa Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="esposaSobrenome"><span jhiTranslate="lareiraAppHomoApp.casal.esposaSobrenome">Esposa Sobrenome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="esposaDataNascimento"><span jhiTranslate="lareiraAppHomoApp.casal.esposaDataNascimento">Esposa Data Nascimento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="esposaProfissao"><span jhiTranslate="lareiraAppHomoApp.casal.esposaProfissao">Esposa Profissao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="esposaTelCelular"><span jhiTranslate="lareiraAppHomoApp.casal.esposaTelCelular">Esposa Tel Celular</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="esposaEmail"><span jhiTranslate="lareiraAppHomoApp.casal.esposaEmail">Esposa Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="esposaProblemaSaude"><span jhiTranslate="lareiraAppHomoApp.casal.esposaProblemaSaude">Esposa Problema Saude</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lareira.id"><span jhiTranslate="lareiraAppHomoApp.casal.lareira">Lareira</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let casal of casals ;trackBy: trackId">
                    <td><a [routerLink]="['/casal', casal.id, 'view']">{{ casal.id }}</a></td>
                    <td>{{ casal.maridoNome }}</td>
                    <td>{{ casal.maridoSobrenome }}</td>
                    <td>{{ casal.maridoDataNascimento | date:'mediumDate' }}</td>
                    <td>{{ casal.maridoProfissao }}</td>
                    <td>{{ casal.maridoTelCelular }}</td>
                    <td>{{ casal.maridoEmail }}</td>
                    <td>{{ casal.maridoProblemaSaude }}</td>
                    <td>{{ casal.esposaNome }}</td>
                    <td>{{ casal.esposaSobrenome }}</td>
                    <td>{{ casal.esposaDataNascimento | date:'mediumDate' }}</td>
                    <td>{{ casal.esposaProfissao }}</td>
                    <td>{{ casal.esposaTelCelular }}</td>
                    <td>{{ casal.esposaEmail }}</td>
                    <td>{{ casal.esposaProblemaSaude }}</td>
                    <td>
                        <div *ngIf="casal.lareira">
                            <a [routerLink]="['/lareira', casal.lareira?.id, 'view']" >{{ casal.lareira?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/casal', casal.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/casal', casal.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(casal)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="casals?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
