<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-casal-heading" jhiTranslate="lareiraAppHomoApp.casal.home.createOrEditLabel">Create or edit a Casal</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="ui-g ui-fluid">

                    <div class="ui-g-12 ui-lg-6">
                        <div class="ui-g-12 ui-md-12 ui-fluid">
                            <!-- <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.fotoCasal" for="field_fotoCasal">Foto Casal</label> -->
                            <div>
                                <div *ngIf="editForm.get('fotoCasal')!.value" class="form-text text-danger clearfix">
                                    <!-- <a class="pull-left" (click)="openFile(editForm.get('fotoCasalContentType')!.value, editForm.get('fotoCasal')!.value)" jhiTranslate="entity.action.open">open</a><br> -->
                                    <img [src]="'data:image/jpg;base64,' + editForm.get('fotoCasal')!.value" height="300" *ngIf="editForm.get('fotoCasal')!.value" >
                                    <!-- <span class="pull-left">{{ editForm.get('fotoCasalContentType')!.value }}, {{ byteSize(editForm.get('fotoCasal')!.value) }}</span> -->
                                </div>
                                <label for="file_fotoCasal" class="custom-file-upload">
                                    <fa-icon icon="cloud"></fa-icon> Adicionar Foto
                                </label>
                                <input type="file" id="file_fotoCasal" (change)="setFileData($event, 'fotoCasal', false)" jhiTranslate="entity.action.addblob" />
                                <button type="button" (click)="editForm.patchValue({fotoCasal: null});editForm.patchValue({fotoCasalContentType: null});" class="btn btn-secondary btn-xs pull-right">
                                    Remover Foto <fa-icon icon="times"></fa-icon>
                                </button>
                            </div>
                            <input type="hidden" class="form-control" name="fotoCasal" id="field_fotoCasal" formControlName="fotoCasal" />
                            <input type="hidden" class="form-control" name="fotoCasalContentType" id="field_fotoCasalContentType" formControlName="fotoCasalContentType" />
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-6">
                        <div class="ui-g-12 ui-lg-12 ui-md-6">
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.lareira" for="field_idLareira">Id Lareira</label>
                                <select class="form-control" id="field_idLareira" name="lareiraId" formControlName="lareiraId">
                                    <option *ngIf="!editForm.get('lareiraId')!.value" [ngValue]="null" selected></option>
                                    <option [ngValue]="lareiraOption.id" *ngFor="let lareiraOption of lareiras; trackBy: trackById">{{ lareiraOption.nome }}</option>
                                </select>
                            </div>
                            <div *ngIf="editForm.get('lareiraId')!.invalid && (editForm.get('lareiraId')!.dirty || editForm.get('lareiraId')!.touched)">
                                <small class="form-text text-danger" *ngIf="editForm.get('lareiraId')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>

                        <div class="ui-g-12 ui-lg-12 ui-md-6">
                            <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.casalPadrinho" for="field_casalPadrinho">Casal Padrinho</label>
                            <select class="form-control" id="field_casalPadrinho" name="casalPadrinho" formControlName="casalPadrinhoId">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="casalOption.id" *ngFor="let casalOption of casals; trackBy: trackById">{{ casalOption.maridoNome }} da {{ casalOption.esposaNome }} ({{ casalOption.maridoSobrenome }})
                                </option>
                            </select>
                        </div>

                        <div class="ui-g-12 ui-lg-12 ui-md-6">
                            <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.numeroFicha" for="field_numeroFicha">Numero Ficha</label>
                            <input type="number" class="form-control" name="numeroFicha" id="field_numeroFicha" formControlName="numeroFicha" />
                        </div>
                    </div>

                    <div class="ui-g-12 ui-lg-6">
                        <div class="card no-margin">
                            <h1>Marido</h1>
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.maridoNome" for="field_maridoNome">Marido
                                        Nome</label>
                                    <input type="text" class="form-control" name="maridoNome" id="field_maridoNome" formControlName="maridoNome" />
                                    <div
                                        *ngIf="editForm.get('maridoNome')!.invalid && (editForm.get('maridoNome')!.dirty || editForm.get('maridoNome')!.touched)">
                                        <small class="form-text text-danger" *ngIf="editForm.get('maridoNome')?.errors?.required"
                                            jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="editForm.get('maridoNome')?.errors?.minlength"
                                            jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                                            This field is required to be at least 3 characters.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="editForm.get('maridoNome')?.errors?.maxlength"
                                            jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                                            This field cannot be longer than 100 characters.
                                        </small>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.maridoSobrenome" for="field_maridoSobrenome">Marido
                                        Sobrenome</label>
                                    <input type="text" class="form-control" name="maridoSobrenome" id="field_maridoSobrenome"
                                        formControlName="maridoSobrenome" />
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.maridoDataNascimento"
                                        for="field_maridoDataNascimento">Marido Data Nascimento</label>
                                    <div class="input-group">
                                        <input id="field_maridoDataNascimento" type="text" class="form-control" name="maridoDataNascimento" ngbDatepicker
                                            #maridoDataNascimentoDp="ngbDatepicker" formControlName="maridoDataNascimento" placeholder="dd/mm/aaaa" />
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-secondary" (click)="maridoDataNascimentoDp.toggle()">
                                                <fa-icon icon="calendar-alt"></fa-icon>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.maridoProfissao" for="field_maridoProfissao">Marido
                                        Profissao</label>
                                    <input type="text" class="form-control" name="maridoProfissao" id="field_maridoProfissao"
                                        formControlName="maridoProfissao" />
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.maridoTelCelular"
                                        for="field_maridoTelCelular">Marido Tel
                                        Celular</label>
                                    <input type="text" class="form-control" name="maridoTelCelular" id="field_maridoTelCelular"
                                        formControlName="maridoTelCelular" />
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.maridoEmail" for="field_maridoEmail">Marido
                                        Email</label>
                                    <input type="text" class="form-control" name="maridoEmail" id="field_maridoEmail" formControlName="maridoEmail" />
                                </div>
                                <div class="ui-g-12 ui-md-12 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.maridoProblemaSaude"
                                        for="field_maridoProblemaSaude">Marido Problema
                                        Saude</label>
                                    <input type="text" class="form-control" name="maridoProblemaSaude" id="field_maridoProblemaSaude"
                                        formControlName="maridoProblemaSaude" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-lg-6">
                        <div class="card no-margin">
                            <h1>Esposa</h1>
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.esposaNome" for="field_esposaNome">Esposa
                                        Nome</label>
                                    <input type="text" class="form-control" name="esposaNome" id="field_esposaNome" formControlName="esposaNome" />
                                    <div
                                        *ngIf="editForm.get('esposaNome')!.invalid && (editForm.get('esposaNome')!.dirty || editForm.get('esposaNome')!.touched)">
                                        <small class="form-text text-danger" *ngIf="editForm.get('esposaNome')?.errors?.required"
                                            jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="editForm.get('esposaNome')?.errors?.minlength"
                                            jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                                            This field is required to be at least 3 characters.
                                        </small>
                                        <small class="form-text text-danger" *ngIf="editForm.get('esposaNome')?.errors?.maxlength"
                                            jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                                            This field cannot be longer than 100 characters.
                                        </small>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.esposaSobrenome" for="field_esposaSobrenome">Esposa
                                        Sobrenome</label>
                                    <input type="text" class="form-control" name="esposaSobrenome" id="field_esposaSobrenome"
                                        formControlName="esposaSobrenome" />
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.esposaDataNascimento"
                                        for="field_esposaDataNascimento">Esposa Data Nascimento</label>
                                    <div class="input-group">
                                        <input id="field_esposaDataNascimento" type="text" class="form-control" name="esposaDataNascimento" ngbDatepicker
                                            #esposaDataNascimentoDp="ngbDatepicker" formControlName="esposaDataNascimento" placeholder="dd/mm/aaaa" />
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-secondary" (click)="esposaDataNascimentoDp.toggle()">
                                                <fa-icon icon="calendar-alt"></fa-icon>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.esposaProfissao" for="field_esposaProfissao">Esposa
                                        Profissao</label>
                                    <input type="text" class="form-control" name="esposaProfissao" id="field_esposaProfissao"
                                        formControlName="esposaProfissao" />
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.esposaTelCelular"
                                        for="field_esposaTelCelular">Esposa Tel
                                        Celular</label>
                                    <input type="text" class="form-control" name="esposaTelCelular" id="field_esposaTelCelular"
                                        formControlName="esposaTelCelular" />
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.esposaEmail" for="field_esposaEmail">Esposa
                                        Email</label>
                                    <input type="text" class="form-control" name="esposaEmail" id="field_esposaEmail" formControlName="esposaEmail" />
                                </div>
                                <div class="ui-g-12 ui-md-12 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.esposaProblemaSaude"
                                        for="field_esposaProblemaSaude">Esposa Problema
                                        Saude</label>
                                    <input type="text" class="form-control" name="esposaProblemaSaude" id="field_esposaProblemaSaude"
                                        formControlName="esposaProblemaSaude" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-lg-12">
                        <div class="card no-margin">
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.casalFoneFixo" for="field_casalFoneFixo">Casal Fone
                                        Fixo</label>
                                    <input type="text" class="form-control" name="casalFoneFixo" id="field_casalFoneFixo" formControlName="casalFoneFixo" />
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.casalFoneContato" for="field_casalFoneContato">Casal
                                        Fone Contato</label>
                                    <input type="text" class="form-control" name="casalFoneContato" id="field_casalFoneContato"
                                        formControlName="casalFoneContato" />
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.casalCep" for="field_casalCep">Casal Cep</label>
                                    <input type="text" class="form-control" name="casalCep" id="field_casalCep" formControlName="casalCep" />
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.casalNomeRua" for="field_casalNomeRua">Casal Nome
                                        Rua</label>
                                    <input type="text" class="form-control" name="casalNomeRua" id="field_casalNomeRua" formControlName="casalNomeRua" />
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.casalNumeroRua" for="field_casalNumeroRua">Casal
                                        Numero Rua</label>
                                    <input type="text" class="form-control" name="casalNumeroRua" id="field_casalNumeroRua" formControlName="casalNumeroRua" />
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.casalBairro" for="field_casalBairro">Casal
                                        Bairro</label>
                                    <input type="text" class="form-control" name="casalBairro" id="field_casalBairro" formControlName="casalBairro" />
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.casalCidade" for="field_casalCidade">Casal
                                        Cidade</label>
                                    <input type="text" class="form-control" name="casalCidade" id="field_casalCidade" formControlName="casalCidade" />
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.casalEstado" for="field_casalEstado">Casal
                                        Estado</label>
                                    <select class="form-control" name="casalEstado" formControlName="casalEstado" id="field_casalEstado">
                                        <option value="AC">{{ 'lareiraAppHomoApp.UF.AC' | translate }}</option>
                                        <option value="AL">{{ 'lareiraAppHomoApp.UF.AL' | translate }}</option>
                                        <option value="AP">{{ 'lareiraAppHomoApp.UF.AP' | translate }}</option>
                                        <option value="AM">{{ 'lareiraAppHomoApp.UF.AM' | translate }}</option>
                                        <option value="BA">{{ 'lareiraAppHomoApp.UF.BA' | translate }}</option>
                                        <option value="CE">{{ 'lareiraAppHomoApp.UF.CE' | translate }}</option>
                                        <option value="DF">{{ 'lareiraAppHomoApp.UF.DF' | translate }}</option>
                                        <option value="ES">{{ 'lareiraAppHomoApp.UF.ES' | translate }}</option>
                                        <option value="GO">{{ 'lareiraAppHomoApp.UF.GO' | translate }}</option>
                                        <option value="MA">{{ 'lareiraAppHomoApp.UF.MA' | translate }}</option>
                                        <option value="MT">{{ 'lareiraAppHomoApp.UF.MT' | translate }}</option>
                                        <option value="MS">{{ 'lareiraAppHomoApp.UF.MS' | translate }}</option>
                                        <option value="MG">{{ 'lareiraAppHomoApp.UF.MG' | translate }}</option>
                                        <option value="PA">{{ 'lareiraAppHomoApp.UF.PA' | translate }}</option>
                                        <option value="PB">{{ 'lareiraAppHomoApp.UF.PB' | translate }}</option>
                                        <option value="PR">{{ 'lareiraAppHomoApp.UF.PR' | translate }}</option>
                                        <option value="PE">{{ 'lareiraAppHomoApp.UF.PE' | translate }}</option>
                                        <option value="PI">{{ 'lareiraAppHomoApp.UF.PI' | translate }}</option>
                                        <option value="RJ">{{ 'lareiraAppHomoApp.UF.RJ' | translate }}</option>
                                        <option value="RN">{{ 'lareiraAppHomoApp.UF.RN' | translate }}</option>
                                        <option value="RS">{{ 'lareiraAppHomoApp.UF.RS' | translate }}</option>
                                        <option value="RO">{{ 'lareiraAppHomoApp.UF.RO' | translate }}</option>
                                        <option value="RR">{{ 'lareiraAppHomoApp.UF.RR' | translate }}</option>
                                        <option value="SC">{{ 'lareiraAppHomoApp.UF.SC' | translate }}</option>
                                        <option value="SP">{{ 'lareiraAppHomoApp.UF.SP' | translate }}</option>
                                        <option value="SE">{{ 'lareiraAppHomoApp.UF.SE' | translate }}</option>
                                        <option value="TO">{{ 'lareiraAppHomoApp.UF.TO' | translate }}</option>
                                    </select>
                                </div>

                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.tipoUniao" for="field_tipoUniao">Tipo Uniao</label>
                                    <select class="form-control" id="field_tipoUniao" name="tipoUniao" formControlName="tipoUniaoId">
                                        <option [ngValue]="null"></option>
                                        <option [ngValue]="tipoUniaoOption.id" *ngFor="let tipoUniaoOption of tipouniaos; trackBy: trackById">
                                            {{ tipoUniaoOption.nome }}</option>
                                    </select>
                                </div>

                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.dataUniao" for="field_dataUniao">Data Uniao</label>
                                    <div class="input-group">
                                        <input id="field_dataUniao" type="text" class="form-control" name="dataUniao" ngbDatepicker #dataUniaoDp="ngbDatepicker"
                                            formControlName="dataUniao" />
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-secondary" (click)="dataUniaoDp.toggle()">
                                                <fa-icon icon="calendar-alt"></fa-icon>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                                <div class="ui-g-12 ui-md-6 ui-fluid">
                                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.informacoesCasal"
                                        for="field_informacoesCasal">Informacoes Casal</label>
                                    <input type="text" class="form-control" name="informacoesCasal" id="field_informacoesCasal"
                                        formControlName="informacoesCasal" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!--
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.maridoNome" for="field_maridoNome">Marido Nome</label>
                    <input type="text" class="form-control" name="maridoNome" id="field_maridoNome"
                           formControlName="maridoNome"/>
                    <div *ngIf="editForm.get('maridoNome')!.invalid && (editForm.get('maridoNome')!.dirty || editForm.get('maridoNome')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('maridoNome')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('maridoNome')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                        This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('maridoNome')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.maridoSobrenome" for="field_maridoSobrenome">Marido Sobrenome</label>
                    <input type="text" class="form-control" name="maridoSobrenome" id="field_maridoSobrenome"
                           formControlName="maridoSobrenome"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.maridoDataNascimento" for="field_maridoDataNascimento">Marido Data Nascimento</label>
                    <div class="input-group">
                        <input id="field_maridoDataNascimento" type="text" class="form-control" name="maridoDataNascimento" ngbDatepicker #maridoDataNascimentoDp="ngbDatepicker" formControlName="maridoDataNascimento"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="maridoDataNascimentoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.maridoProfissao" for="field_maridoProfissao">Marido Profissao</label>
                    <input type="text" class="form-control" name="maridoProfissao" id="field_maridoProfissao"
                           formControlName="maridoProfissao"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.maridoTelCelular" for="field_maridoTelCelular">Marido Tel Celular</label>
                    <input type="text" class="form-control" name="maridoTelCelular" id="field_maridoTelCelular"
                           formControlName="maridoTelCelular"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.maridoEmail" for="field_maridoEmail">Marido Email</label>
                    <input type="text" class="form-control" name="maridoEmail" id="field_maridoEmail"
                           formControlName="maridoEmail"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.maridoProblemaSaude" for="field_maridoProblemaSaude">Marido Problema Saude</label>
                    <input type="text" class="form-control" name="maridoProblemaSaude" id="field_maridoProblemaSaude"
                           formControlName="maridoProblemaSaude"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.esposaNome" for="field_esposaNome">Esposa Nome</label>
                    <input type="text" class="form-control" name="esposaNome" id="field_esposaNome"
                           formControlName="esposaNome"/>
                    <div *ngIf="editForm.get('esposaNome')!.invalid && (editForm.get('esposaNome')!.dirty || editForm.get('esposaNome')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('esposaNome')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('esposaNome')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                        This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('esposaNome')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.esposaSobrenome" for="field_esposaSobrenome">Esposa Sobrenome</label>
                    <input type="text" class="form-control" name="esposaSobrenome" id="field_esposaSobrenome"
                           formControlName="esposaSobrenome"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.esposaDataNascimento" for="field_esposaDataNascimento">Esposa Data Nascimento</label>
                    <div class="input-group">
                        <input id="field_esposaDataNascimento" type="text" class="form-control" name="esposaDataNascimento" ngbDatepicker #esposaDataNascimentoDp="ngbDatepicker" formControlName="esposaDataNascimento"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="esposaDataNascimentoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.esposaProfissao" for="field_esposaProfissao">Esposa Profissao</label>
                    <input type="text" class="form-control" name="esposaProfissao" id="field_esposaProfissao"
                           formControlName="esposaProfissao"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.esposaTelCelular" for="field_esposaTelCelular">Esposa Tel Celular</label>
                    <input type="text" class="form-control" name="esposaTelCelular" id="field_esposaTelCelular"
                           formControlName="esposaTelCelular"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.esposaEmail" for="field_esposaEmail">Esposa Email</label>
                    <input type="text" class="form-control" name="esposaEmail" id="field_esposaEmail"
                           formControlName="esposaEmail"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.esposaProblemaSaude" for="field_esposaProblemaSaude">Esposa Problema Saude</label>
                    <input type="text" class="form-control" name="esposaProblemaSaude" id="field_esposaProblemaSaude"
                           formControlName="esposaProblemaSaude"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.casalFoneFixo" for="field_casalFoneFixo">Casal Fone Fixo</label>
                    <input type="text" class="form-control" name="casalFoneFixo" id="field_casalFoneFixo"
                           formControlName="casalFoneFixo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.casalFoneContato" for="field_casalFoneContato">Casal Fone Contato</label>
                    <input type="text" class="form-control" name="casalFoneContato" id="field_casalFoneContato"
                           formControlName="casalFoneContato"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.casalCep" for="field_casalCep">Casal Cep</label>
                    <input type="text" class="form-control" name="casalCep" id="field_casalCep"
                           formControlName="casalCep"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.casalNomeRua" for="field_casalNomeRua">Casal Nome Rua</label>
                    <input type="text" class="form-control" name="casalNomeRua" id="field_casalNomeRua"
                           formControlName="casalNomeRua"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.casalNumeroRua" for="field_casalNumeroRua">Casal Numero Rua</label>
                    <input type="text" class="form-control" name="casalNumeroRua" id="field_casalNumeroRua"
                           formControlName="casalNumeroRua"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.casalBairro" for="field_casalBairro">Casal Bairro</label>
                    <input type="text" class="form-control" name="casalBairro" id="field_casalBairro"
                           formControlName="casalBairro"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.casalCidade" for="field_casalCidade">Casal Cidade</label>
                    <input type="text" class="form-control" name="casalCidade" id="field_casalCidade"
                           formControlName="casalCidade"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.casalEstado" for="field_casalEstado">Casal Estado</label>
                    <select class="form-control" name="casalEstado" formControlName="casalEstado" id="field_casalEstado">
                        <option value="AC">{{ 'lareiraAppHomoApp.UF.AC' | translate }}</option>
                        <option value="AL">{{ 'lareiraAppHomoApp.UF.AL' | translate }}</option>
                        <option value="AP">{{ 'lareiraAppHomoApp.UF.AP' | translate }}</option>
                        <option value="AM">{{ 'lareiraAppHomoApp.UF.AM' | translate }}</option>
                        <option value="BA">{{ 'lareiraAppHomoApp.UF.BA' | translate }}</option>
                        <option value="CE">{{ 'lareiraAppHomoApp.UF.CE' | translate }}</option>
                        <option value="DF">{{ 'lareiraAppHomoApp.UF.DF' | translate }}</option>
                        <option value="ES">{{ 'lareiraAppHomoApp.UF.ES' | translate }}</option>
                        <option value="GO">{{ 'lareiraAppHomoApp.UF.GO' | translate }}</option>
                        <option value="MA">{{ 'lareiraAppHomoApp.UF.MA' | translate }}</option>
                        <option value="MT">{{ 'lareiraAppHomoApp.UF.MT' | translate }}</option>
                        <option value="MS">{{ 'lareiraAppHomoApp.UF.MS' | translate }}</option>
                        <option value="MG">{{ 'lareiraAppHomoApp.UF.MG' | translate }}</option>
                        <option value="PA">{{ 'lareiraAppHomoApp.UF.PA' | translate }}</option>
                        <option value="PB">{{ 'lareiraAppHomoApp.UF.PB' | translate }}</option>
                        <option value="PR">{{ 'lareiraAppHomoApp.UF.PR' | translate }}</option>
                        <option value="PE">{{ 'lareiraAppHomoApp.UF.PE' | translate }}</option>
                        <option value="PI">{{ 'lareiraAppHomoApp.UF.PI' | translate }}</option>
                        <option value="RJ">{{ 'lareiraAppHomoApp.UF.RJ' | translate }}</option>
                        <option value="RN">{{ 'lareiraAppHomoApp.UF.RN' | translate }}</option>
                        <option value="RS">{{ 'lareiraAppHomoApp.UF.RS' | translate }}</option>
                        <option value="RO">{{ 'lareiraAppHomoApp.UF.RO' | translate }}</option>
                        <option value="RR">{{ 'lareiraAppHomoApp.UF.RR' | translate }}</option>
                        <option value="SC">{{ 'lareiraAppHomoApp.UF.SC' | translate }}</option>
                        <option value="SP">{{ 'lareiraAppHomoApp.UF.SP' | translate }}</option>
                        <option value="SE">{{ 'lareiraAppHomoApp.UF.SE' | translate }}</option>
                        <option value="TO">{{ 'lareiraAppHomoApp.UF.TO' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.fotoCasal" for="field_fotoCasal">Foto Casal</label>
                    <div>
                        <div *ngIf="editForm.get('fotoCasal')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('fotoCasalContentType')!.value, editForm.get('fotoCasal')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('fotoCasalContentType')!.value }}, {{ byteSize(editForm.get('fotoCasal')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({fotoCasal: null});editForm.patchValue({fotoCasalContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_fotoCasal" (change)="setFileData($event, 'fotoCasal', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="fotoCasal" id="field_fotoCasal"
                           formControlName="fotoCasal"/>
                    <input type="hidden" class="form-control" name="fotoCasalContentType" id="field_fotoCasalContentType"
                           formControlName="fotoCasalContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.dataUniao" for="field_dataUniao">Data Uniao</label>
                    <div class="input-group">
                        <input id="field_dataUniao" type="text" class="form-control" name="dataUniao" ngbDatepicker #dataUniaoDp="ngbDatepicker" formControlName="dataUniao"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataUniaoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.numeroFicha" for="field_numeroFicha">Numero Ficha</label>
                    <input type="number" class="form-control" name="numeroFicha" id="field_numeroFicha"
                           formControlName="numeroFicha"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.informacoesCasal" for="field_informacoesCasal">Informacoes Casal</label>
                    <input type="text" class="form-control" name="informacoesCasal" id="field_informacoesCasal"
                           formControlName="informacoesCasal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.tipoUniao" for="field_tipoUniao">Tipo Uniao</label>
                    <select class="form-control" id="field_tipoUniao" name="tipoUniao" formControlName="tipoUniaoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tipoUniaoOption.id" *ngFor="let tipoUniaoOption of tipouniaos; trackBy: trackById">{{ tipoUniaoOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.casalPadrinho" for="field_casalPadrinho">Casal Padrinho</label>
                    <select class="form-control" id="field_casalPadrinho" name="casalPadrinho" formControlName="casalPadrinhoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="casalOption.id" *ngFor="let casalOption of casalpadrinhos; trackBy: trackById">{{ casalOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lareiraAppHomoApp.casal.idLareira" for="field_idLareira">Id Lareira</label>
                    <select class="form-control" id="field_idLareira" name="idLareira" formControlName="idLareiraId">
                        <option *ngIf="!editForm.get('idLareiraId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="lareiraOption.id" *ngFor="let lareiraOption of lareiras; trackBy: trackById">{{ lareiraOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('idLareiraId')!.invalid && (editForm.get('idLareiraId')!.dirty || editForm.get('idLareiraId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('idLareiraId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            -->

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
